.history-list {
  width: 20rem;
  margin: 0;
  padding: 0 0 0.5rem 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
}

.history-header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0.5rem;
  line-height: 3rem;
  border-bottom: 1px solid var(--sub-gray-color);
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: default;
}
.history-clear {
  padding: 0;
  font-size: 0.8rem;
  background: none;
  text-decoration: underline;
}

.history-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0.5rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 2rem;
  border-bottom: 1px solid var(--sub-gray-color);
}

.history-list-item:hover {
  background-color: var(--history-list-hover-color);
  color: var(--color-white);
}

.history-list-item-right_time {
  font-size: 0.8rem;
  line-height: 1rem;
  color: var(--sub-gray-color);
}

.history-list-item-right_remove {
  background: none;
}

.history-list-item:hover .history-list-item-right_time,
.history-list-item:hover .history-list-item-right_remove {
  color: var(--color-white);
}
