body,
html {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0;
  overflow: hidden;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--gradient-bg-start)),
    to(var(--gradient-bg-end))
  );
  background-image: -webkit-linear-gradient(
    var(--gradient-bg-start),
    var(--gradient-bg-end)
  );
  background-image: -moz-linear-gradient(
    var(--gradient-bg-start),
    var(--gradient-bg-end)
  );
  background-image: -o-linear-gradient(
    var(--gradient-bg-start),
    var(--gradient-bg-end)
  );
  background-image: linear-gradient(
    var(--gradient-bg-start),
    var(--gradient-bg-end)
  );
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --gradient-bg-start: #140027;
  --gradient-bg-end: #179dbe;
  --main-bg-color: #f2a64f;
  --hover-bg-color: #df8a27;
  --main-txt-color: #000000;
  --white-color: #ffffff;
  --border-color: #9c9c9c;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 800;
  nav-index: 1;
  outline: none;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transition: color 1s ease-in;
  -o-transition: color 1s ease-in;
  -moz-transition: color 1s ease-in;
  transition: color 1s ease-in;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.orange-button {
  border: 2px solid var(--border-color);
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
}

.button:after {
  content: "\274c";
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: 10px;
  height: 55px;
  width: 55px;
  font-size: 15px;
  color: transparent;
  text-indent: 5px;
}

.orange-button:after {
  background-color: var(--white-color);
  text-shadow: 0 0 0 var(--main-txt-color);
}

.orange-button:hover {
  background-color: var(--hover-bg-color);
}

.orange-button:active {
  font-size: 15px;
  cursor: pointer;
}

.orange-button:active:after {
  height: 50px;
  width: 50px;
  font-size: 13px;
}
